/* Fonts */
:root {
  --default-font: "Montserrat", sans-serif;
  --heading-font: "Kanit", sans-serif;
  --nav-font: "Montserrat", sans-serif;
  --inter-font: "Inter", sans-serif;
  --bebas-font: " Bebas Neue Pro", sans-serif;
}

/* Global Colors - The following color variables are used throughout the website. Updating them here will change the color scheme of the entire website */
:root {
  --background-color: #ffffff;
  /* Background color for the entire website, including individual sections */
  --default-color: #000000;
  /* Default color used for the majority of the text content across the entire website */
  --heading-color: #273d4e;
  /* Color for headings, subheadings and title throughout the website */
  --accent-color: #ec5d25;
  /* Accent color that represents your brand on the website. It's used for buttons, links, and other elements that need to stand out */
  --surface-color: #ffffff;
  /* The surface color is used as a background of boxed elements within sections, such as cards, icon boxes, or other elements that require a visual separation from the global background. */
  --contrast-color: #ffffff;
  /* Contrast color for text, ensuring readability against backgrounds of accent, heading, or default colors. */
  --border-color: #9999a0;
}

/* Nav Menu Colors - The following color variables are used specifically for the navigation menu. They are separate from the global colors to allow for more customization options */
:root {
  --nav-color: #000000;
  /* The default color of the main navmenu links */
  --nav-hover-color: #ff4a17;
  /* Applied to main navmenu links when they are hovered over or active */
  --nav-mobile-background-color: #ffffff;
  /* Used as the background color for mobile navigation menu */
  --nav-dropdown-background-color: #ffffff;
  /* Used as the background color for dropdown items that appear when hovering over primary navigation items */
  --nav-dropdown-color: #444444;
  /* Used for navigation links of the dropdown items in the navigation menu. */
  --nav-dropdown-hover-color: #ff4a17;
  /* Similar to --nav-hover-color, this color is applied to dropdown navigation links when they are hovered over. */
}

/* Color Presets - These classes override global colors when applied to any section or element, providing reuse of the sam color scheme. */

.light-background {
  --background-color: #f3f3f3;
  --surface-color: #ffffff;
}

.dark-background {
  --background-color: #000910;
  --default-color: #ffffff;
  --heading-color: #ffffff;
  --surface-color: #28323a;
  --contrast-color: #ffffff;
}

/* Smooth scroll */
:root {
  scroll-behavior: smooth;

  /* font sizes */
  --fs-60-80: clamp(60px, calc(60px + 20 * ((100vw - 420px) / 1020)), 80px);
  --fs-68-38: clamp(38px, calc(38px + 20 * ((100vw - 420px) / 1020)), 68px);
  --fs-46-28: clamp(28px, calc(28px + 20 * ((100vw - 420px) / 1020)), 46px);
  --fs-36-28: clamp(28px, calc(28px + 20 * ((100vw - 420px) / 1020)), 36px);
  --fs-39-29: clamp(29px, calc(29px + 20 * ((100vw - 420px) / 1020)), 39px);
  --fs-28-18: clamp(18px, calc(18px + (28px - 18px) * ((100vw - 420px) / (1440 - 420))), 28px);
 --fs-24-18: clamp(18px, calc(18px + 6 * ((100vw - 420px) / 1020)), 24px);
  --fs-22-18: clamp(18px, calc(22px - 4px * ((100vw - 420px) / 1020)), 22px);
  --fs-22-16: clamp(16px, calc(22px - 6px * ((100vw - 420px) / 1020)), 22px);
  --fs-22-12: clamp(12px, calc(22px - 10px * ((100vw - 420px) / 1020)), 22px);
  --fs-20-16: clamp(16px, calc(20px - 4px * ((100vw - 420px) / 1020)), 20px);
  --fs-20-12: clamp(12px, calc(20px - 8px * ((100vw - 420px) / 1020)), 20px);
  --fs-18-16: clamp(16px, calc(16px + 2 * ((100vw - 420px) / 1020)), 18px);
  --fs-16-12: clamp(12px, calc(16px - 4px * ((100vw - 420px) / 1020)), 16px);
  --fs-16-14: clamp(14px, calc(14px + 2px * ((100vw - 420px) / 1020)), 16px);
  --fs-14-12: clamp(12px, calc(14px - 2px * ((100vw - 420px) / 1020)), 14px);
  --fs-12-16: clamp(12px, calc(16px - 4 * ((100vw - 420px) / 1020)), 16px);
  --fs-46: 46px;
  --fs-38: 38px;
  --fs-28: 28px;
  --fs-24: 24px;
  --fs-18: 18px;
  --fs-16: 16px;
  --fs-14: 14px;
  --fs-12: 12px;
}

/*--------------------------------------------------------------
# General Styling & Shared Classes
--------------------------------------------------------------*/

@font-face {
  font-family: "Bebas Neue Pro";
  src: url("../fonts/BebasNeuePro-Bold.eot");
  src: url("../fonts/BebasNeuePro-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/BebasNeuePro-Bold.woff2") format("woff2"),
    url("../fonts/BebasNeuePro-Bold.woff") format("woff"),
    url("../fonts/BebasNeuePro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body {
  color: var(--default-color);
  background-color: var(--background-color);
  font-family: var(--default-font);
  overflow-x: hidden;
  font-size: var(--fs-14-12);
}

a {
  color: var(--accent-color);
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: color-mix(in srgb, var(--accent-color), transparent 25%);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--default-color);
  font-size: inherit;
}

.mt-40,
.mt-6 {
  margin-top: 2.5rem;
}

.ml-6 {
  margin-left: 2.5rem;
}

.pl-6 {
  padding-left: 2.5rem;
}

.my-6 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.mt-32 {
  margin-top: 32px;
}

.mt-34 {
  margin-top: 2.125rem;
}

.mt-36 {
  margin-top: 2.25rem;
}
.mt-31 {
  margin-top: 1.938rem;
}

.mt-12 {
  margin-top: 0.75rem;
}

.mt-80 {
  margin-top: 80px;
}

.mb-62 {
  margin-bottom: 62px;
}

.pt-40 {
  padding-top: 40px;
}

.default-text-color {
  color: var(--default-color);
}

.spacer {
  width: 100%;
  background-image: url(../img/spacer.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 5px;
}

.cta-btn,
.cta-btn:focus {
  color: var(--contrast-color);
  font-size: var(--fs-12);
  padding: 10px 18px;
  border-radius: 100px;
  transition: 0.3s;
  text-transform: uppercase;
  border: 1px solid var(--accent-color);
  font-weight: 800;
  white-space: nowrap;
  cursor: pointer;
  background-color: transparent;
}

.cta-btn.cta-btn-b:hover,
.cta-btn.cta-btn-b:focus:hover {
  color: var(--contrast-color);
  background: var(--accent-color);
  border-color: var(--accent-color);
}

.cta-btn.cta-btn-w:hover,
.cta-btn.cta-btn-w:focus:hover {
  color: var(--default-color);
  background: var(--accent-color);
  border-color: var(--accent-color);
}

.cta-btn.cta-btn-b {
  color: var(--default-color)
}

button.cta-btn-w:disabled {
  color: var(--contrast-color);
  pointer-events: none;
  background-color: transparent;
  border-color: var(--accent-color);
  opacity: 0.65;
}

button.cta-btn-b:disabled {
  color: var(--default-color);
  pointer-events: none;
  background-color: transparent;
  border-color: var(--accent-color);
  opacity: 0.65;
}

.btn-outline-primary {
  border-radius: 100px;
  border-color: var(--accent-color);
  font-size: var(--fs-12);
  color: var(--default-color);
  padding: 10px 18px;
  text-transform: uppercase;
  font-weight: 800;
}

.btn-outline-primary:hover {
  background: var(--accent-color);
  border-color: var(--accent-color);
}

.cta-btn-filled{
  background-color: var(--accent-color);
  color: var(--contrast-color)
}
.cta-btn.cta-btn-filled:hover{
  background-color: var(--contrast-color);
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}
.btn-black{
  background-color: var(--default-color);
  color: var(--contrast-color);
}
@media (max-width: 576px) {
  .custom-container {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (max-width: 767px) {

  .cta-btn,
  .cta-btn:focus {
    font-size: var(--fs-12);
  }
}

.text-accent {
  color: var(--accent-color);
}
.text-default {
  color: var(--default-color);
}

.scroll-pane {
  display: flex;
  overflow-x: auto;
  gap: 20px;
  scroll-snap-type: x mandatory;
  margin-left: 40px;
}

.scroll-pane .item {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  scroll-snap-align: start;
}

.scroll-pane::-webkit-scrollbar {
  display: none;
}

.scroll-pane {
  -ms-overflow-style: none;
  /* IE */
  scrollbar-width: none;
  /* Firefox */
}

.arrow {
  width: 46px;
  height: 18px;
  background-image: url(../img/next-arrow.png);
  background-size: cover;
  position: absolute;
  bottom: 20px;
  left: 40px;
}

.side-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0px;
  height: 127px;
  z-index: 9999;
}

.body-01 {
  font-weight: 500;
  font-family: var(--default-font);
  font-size: 22px;
  line-height: normal;
}

.body-02 {
  font-weight: 600;
  font-family: var(--default-font);
  font-size: var(--fs-22-16);
  margin-top: 10px;
  line-height: normal;
}

.text-yellow {
  color: #f6ff00;
}

.f-w-600 {
  font-weight: 600;
}

.border-t {
  border-top: 1px solid #f0f0f0;
}

.btn-actions {
  background-color: rgba(240, 240, 240, 0.2);
  color: var(--contrast-color);
  width: 32px;
  height: 32px;
  font-size: 22px;
  line-height: 19px;
  padding: 0;
}

.btn-actions:hover {
  background-color: rgba(240, 240, 240, 0.3);
  color: var(--contrast-color);
}

.down-arrow-a {
  width: 60px;
  height: auto;
}

.down-arrow-a path {
  opacity: 0;
  transform-origin: center;
}

.down-arrow-a.white path {
  fill: #d9d9d9;
}

.marquee-container {
  width: 100%;
  overflow: hidden;
  position: absolute;
  padding: 20px 0;
  top: 151px;
  z-index: 9;
}

.marquee-track {
  display: flex;
  width: max-content;
  align-items: center;
  justify-content: center;
  height: auto;
  overflow: hidden;
}

.marquee-item {
  flex-shrink: 0;
  margin-right: 60px;
  height: 100px;
}

.logo-bg {
  position: absolute;
  left: 0;
  bottom: 20px;
  z-index: 0;
}

.logo-bg svg {
  width: 723px;
  height: auto;
}

.logo-bg svg path {
  stroke: #d9d9d9;
  stroke-width: 1;
  stroke-opacity: 0;
  fill: #d9d9d9;
  fill-opacity: 0;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
}

.type-container {
  max-width: 600px;
  white-space: pre-line;
}

.cursor {
  display: inline-block;
  font-weight: bold;
  margin-left: 2px;
  animation: blink 0.7s step-end infinite;
}

.custom-container {
  padding-left: clamp(40px, 4vw, 123px);
  padding-right: clamp(40px, 4vw, 123px);
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.swiper-button-prev,
.swiper-button-next {
  position: relative;
  width: 62px;
  height: 24px;
  margin: 0;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  min-width: 40px;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  transform: scale(1.1)
}

.toast.show {
  z-index: 999;
}

hr {
  border-top: 3px solid var(--accent-color);
  opacity: 1;
}

.down-arrow-wrap {
  width: 60px;
  height: auto;
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.video-wrap {
  border-top-left-radius: 40px;
  overflow: hidden;
}

.video-wrap video {
  width: 100%;
  object-fit: cover;
}

.img-border {
  border-top-left-radius: 40px;
}

.svg-container {
  position: absolute;
  z-index: 9;
  bottom: -1.5rem;
  right: 5.75rem;
  width: 90px;
  height: 232px;
}

.svg-container .down-arrow {
  width: 90px;
  height: auto;
  position: absolute;
}

@media (max-width: 768px) {
  .logo-bg svg {
    width: 100%;
  }

  .down-arrow-wrap {
    left: inherit;
    right: 40px;
    transform: translateX(0);
    z-index: 9;
  }

  .svg-container {
    right: -50px;
  }

  .body-01 {
    font-size: 18px;
  }
  .mt-sm-4{
    margin-top: 2.813rem;
  }
}

.link-text{
  color: var(--default-color);
  text-decoration: underline;
}
 .form-label {
  color: var(--default-color);
  font-size: var(--fs-16);
}

.form-control {
  background-color: transparent;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-radius: 0px;
  border-bottom-color: var(--background-color);
  border-bottom-style: solid;
  color: var(--contrast-color);
  padding-left: 0px;
}

/*--------------------------------------------------------------
# Global Header
--------------------------------------------------------------*/
.header {
  --background-color: #f3f3f3;
  --default-color: #000000;
  --heading-color: #ffffff;
  color: var(--default-color);
  background-color: var(--background-color);
  padding: 8px 0;
  transition: all 0.5s;
  z-index: 997;
  border-bottom-right-radius: 40px;
}

.header .logo {
  line-height: 1;
}

.header .logo img {
  max-height: 36px;
  margin-right: 8px;
}

.header .logo h1 {
  font-size: 30px;
  margin: 0;
  font-weight: 700;
  color: var(--heading-color);
}

.header .cta-btn,
.header .cta-btn:focus {
  color: var(--default-color);
  font-size: 12px;
  padding: 7px 25px;
  margin: 0 0 0 30px;
  border-radius: 100px;
  transition: 0.3s;
  text-transform: uppercase;
  border: 1px solid var(--accent-color);
  font-weight: 800;
}

.header .cta-btn:hover,
.header .cta-btn:focus:hover {
  color: var(--contrast-color);
  background: var(--accent-color);
  border-color: var(--accent-color);
}

@media (max-width: 768px) {
  .header {
    padding: 16px 0;
  }
}

@media (max-width: 1200px) {
  .header .logo {
    order: 1;
  }

  .header .cta-btn,
  .header .cta-btn:focus {
    order: 2;
    margin: 15px auto;
    padding: 6px 15px;
    width: 150px;
  }

  .header .navmenu {
    order: 3;
  }
}

.scrolled .header {
  box-shadow: 0px 0 18px rgba(0, 0, 0, 0.1);
}

/* Global Header on Scroll
------------------------------*/
.scrolled .header {
  --background-color: #f3f3f3;
}

/*--------------------------------------------------------------
# Global Footer
--------------------------------------------------------------*/
.footer {
  color: var(--default-color);
  background-color: var(--background-color);
  position: relative;
}

.footer .footer-top {
  padding-top: 30px;
}

.footer img {
  max-height: 33px;
  margin-right: 6px;
}

.footer .social-links {
  padding: 15px 0;
}

.footer .social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  font-size: var(--fs-12);
  color: var(--contrast-color);
  margin-right: 10px;
  transition: 0.3s;
}

.footer .social-links a:hover {
  color: var(--accent-color);
}

.footer .footer-navmenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.footer .footer-navmenu ul li {
  white-space: nowrap;
  padding: 15px 14px;
  font-size: var(--fs-12);
}

.footer .footer-navmenu ul li:first-child {
  padding: 15px 14px 15px 0;
}

.footer .footer-navmenu ul li a {
  color: var(--contrast-color);
  text-transform: uppercase;
}

.footer .footer-navmenu ul li a:hover {
  color: var(--accent-color);
}

.footer .footer-navmenu ul li a.cta-btn,
.footer .footer-navmenu ul li a.cta-btn:focus {
  color: var(--default-color);
  font-size: var(--fs-12);
  padding: 7px 20px;
  border-radius: 100px;
  transition: 0.3s;
  text-transform: uppercase;
  border: 1px solid var(--accent-color);
  font-weight: 800;
  display: inline-block;
}

.footer .footer-navmenu ul li a.cta-btn:hover,
.footer .footer-navmenu ul li a.cta-btn:focus:hover {
  color: #000000;
  background: var(--accent-color);
  border-color: var(--accent-color);
}

.footer .copyright {
  padding: 25px 0;
  border-top: 1px solid color-mix(in srgb, var(--border-color), transparent 20%);
}

.footer .copyright p {
  margin-bottom: 0;
  font-size: var(--fs-12);
}

.h-md {
  height: 220px;
}

.h-sm {
  height: 330px
}


@media (max-width: 768px) {
  .footer .footer-navmenu ul {
    flex-flow: column;
    align-items: start;
  }

  .footer .social-links {
    padding: 0;
  }

  .footer .footer-navmenu ul li {
    padding-left: 0;
    font-size: var(--fs-12);
  }

  .footer a.cta-btn,
  .footer a.cta-btn:focus,
  .footer .copyright p {
    font-size: var(--fs-12);
  }

  .footer .social-links a {
    font-size: 10px;
  }
}

@media (max-width: 576px) {
  .footer .container {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .footer .social-links {
    padding: 0;
  }
}

@media (max-width: 350px) {
  .footer .container {
    padding-left: 1.8rem;
    padding-right: 1.8rem;
  }
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  inset: 0;
  z-index: 999999;
  overflow: hidden;
  background: var(--background-color);
  transition: all 0.6s ease-out;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #ffffff;
  border-color: var(--accent-color) transparent var(--accent-color) transparent;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: animate-preloader 1.5s linear infinite;
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Global Sections
--------------------------------------------------------------*/
section,
.section {
  color: var(--default-color);
  background-color: var(--background-color);
  padding: 40px 0;
  scroll-margin-top: 90px;
  overflow: clip;
}

@media (max-width: 1199px) {

  section,
  .section {
    scroll-margin-top: 76px;
  }
}

@media (max-width: 768px) {

  section,
  .section {
    padding: 20px 0;
  }
}

h1 {
  font-size: var(--fs-68-38);
  line-height: clamp(58px, 4.2vw, 60px);
  font-family: var(--heading-font);
  color: var(--accent-color);
  text-transform: uppercase;
  font-weight: 700;
}

 h2 {
  font-family: var(--heading-font);
  color: var(--default-color);
  font-size: var(--fs-46-28);
  text-transform: uppercase;
  font-weight: 700;
}
h2.white{
  color: var(--background-color)
}

h2.accent{
  color: var(--accent-color)
}
.custom-list{
  padding: 0;
}

.border-l{
  border-left: 1px solid var(--contrast-color);
}
.border-r{
   border-right: 1px solid var(--contrast-color);
}
.last-col{
  padding: 0 0 0 20px;
}
.custom-list li{
  list-style: none;
  font-weight: bold;
  position: relative;
  padding-left: 31px;
}
.custom-list li::before{
  content: '';
  width: 17px;
  height: 4px;
  background-color: var(--accent-color);
  position: absolute;
  left:0;
  top:50%;
  transform: translateY(-2px);
}

.role-hero{
   padding: 204px 0 80px
}

section.fit-check{
  background-color: #F2F2F2;
}

.fit-check .content-wrapper{
  max-width: 582px;
  background-color: #000000;
  color: var(--contrast-color);
  padding: 40px 70px;
}
section.fit-check-sm{
    background-color: #000000;
}

.fit-check p{
  font-size: var(--fs-18);
  font-weight: 400;
}

.fit-check p.lead{
  font-size: var(--fs-24-18);
  font-weight: bold;
}

.fit-check-sm .content-wrapper{
  padding: 0 0px 44px;
  max-width: 100%;
}
.fit-check .content-wrapper h3{
  color: var(--contrast-color);
  font-family: var(--heading-font);
  font-size: var(--fs-36-28);
  text-transform: uppercase;
  margin-bottom: 0;
  line-height: 1;
}

.fit-check .content-wrapper h4{
  color: var(--contrast-color);
  font-family: var(--heading-font);
  font-size: var(--fs-39-29);
  text-transform: uppercase;
  margin-bottom: 0;
   line-height: 1;
}
.fit-check .content-wrapper h6{
  font-family: var(--heading-font);
  font-size: var(--fs-22-16);
  color: var(--contrast-color);
  margin-bottom: 0;
  font-weight: 400;
  text-transform: uppercase;
}

.fit-check .content-wrapper p{
   font-family: var(--heading-font);
   font-family: var(--fs-18-16);
   margin-bottom: 0;
}

.role-calculator.section {
  background-image: url(../img/role-calculator-bg.png);
  background-position: center;
  background-size: cover;
 
}

.role-calculator h2 {
  color: var(--contrast-color);
  margin: 16px 0;
 
}

.role-calculator .accordion-body {
  padding: 24px 0 0;
}

.role-calculator .accordion-item {
  background-color: transparent;
  border: 0px;
}

.role-calculator .accordion-header .accordion-button {
  background-color: transparent !important;
  box-shadow: none;
  border-bottom: 1px dotted var(--contrast-color);
  padding-left: 0;
  color: var(--contrast-color);
}

.role-calculator .accordion-button::after {
  width: 17px;
  height: 17px;
  border-radius: 100%;
  background-size: contain;
  background-image: url(../img/arrow-up.svg);
}

.role-calculator .accordion-button:not(.collapsed)::after {
  transform: rotate(180deg);
}

.role-calculator .accordion-item:last-of-type>.accordion-header .accordion-button.collapsed,
.accordion-item:last-of-type {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.role-calculator .accordion-body .form-check-input {
  background-color: transparent;
}

.role-calculator .accordion-body .form-check-input:checked[type="radio"] {
  background-image: url(../img/radio-bg.svg);
  border-color: #fff;
  background-size: 10px;
}

.role-calculator .accordion-body .form-check-input[type="radio"]:checked+.form-check-label {
  font-weight: 700;
}

.role-calculator .form-check-label {
  font-size: 12px;
  line-height: 2;
  color: var(--contrast-color);
}

.role-calculator .form-label {
  font-size: var(--fs-14-12);
  line-height: 1.8;
  color: var(--contrast-color);
}

.role-calculator .values {
  font-size: 18px;
  color: var(--contrast-color);
  line-height: 1.333;
  font-weight: 700;
}

.role-calculator .card {
  padding: 40px;
  height: 100%;
}

.role-calculator .card p {
  font-size: var(--fs-14-12);
  line-height: 14px;
  color: var(--default-color);
  margin-bottom: 0px;
}

.role-calculator .card p.small {
  font-size: 12px;
  line-height: 14px;
  color: var(--default-color);
}

.role-calculator .card h3 {
  font-size: var(--fs-22-18);
  line-height: 24px;
  color: var(--default-color);
  margin-top: 0.5rem;
}

.role-calculator .card h2 {
  font-size: var(--fs-28);
  line-height: clamp(24px, 1.2vw + 1rem, 28px);
  color: var(--accent-color);
}

.role-calculator .border-dotted-b {
  border-bottom: 1px dotted #9999A0;
}

.form-range::-webkit-slider-thumb {
  background: #fff;
  border: 1px solid #2de65e;
}

.form-range::-moz-range-thumb {
  background: #fff;
  border: 1px solid #2de65e;
}

.role-calculator .cta-btn,
.role-calculator .cta-btn:focus {
  color: var(--default-color);
  width: fit-content;
  background: transparent;
  margin-top: 56px;
}

.role-calculator .cta-btn:hover,
.role-calculator .cta-btn:focus:hover {
  background-color: var(--accent-color);
  color: var(--contrast-color);
}

.role-calculator .accordion-body h4 {
  color: var(--contrast-color);
  font-size: 18px;
  line-height: 1.3333;
}

@media (max-width: 768px) {
  .role-hero{
   padding: 67px 0px 40px
}

  .role-calculator .card {
    padding: 10px;
  }
}

/*--------------------------------------------------------------
# Role success
--------------------------------------------------------------*/
.role-success.section {
  padding: 80px 0;
}


.role-success p {
  font-size: var(--fs-18-16);
  line-height: normal;
  margin-bottom: 0;
}

.role-success .small-lead {
  font-size: 14px;
  font-weight: 700;
}

@media (max-width: 768px) {
  .role-success.section {
    padding: 40px 0
  }
}

section.q-a-section{
  background-color: var(--default-color);
  padding: 80px 0;
  color: var(--contrast-color)
}


/*--------------------------------------------------------------
# Role Apply
--------------------------------------------------------------*/
section.apply-form{
  background-color: var(--accent-color);
  padding: 80px 0;
}
section.training{
  background-color: var(--accent-color);
}
.training h2{
  text-align: center;
  color: var(--background-color);
  margin: 0;
}

.nav-link{
  font-family: var(--default-font);
  font-size: var(--fs-18-16);
  line-height: 1.75;
  padding-bottom: 10px;
  border-bottom: 1px solid #d9dbea;
  margin-bottom: 5px;
  color: var(--contrast-color);
  cursor: pointer;
  background-image: url(../img/next-arrow.svg);
  background-repeat: no-repeat;
  background-position: center right;
  padding-right: 40px;
  border-radius: 0px;
  text-align: left;
}
.nav-pills .nav-link{
  border-radius: 0px;
}
.nav-link:last-child{
  border-bottom: 0px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.nav-link.active, .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
  color: var(--accent-color);
  background-image: url(../img/active-arrow.svg);
  background-color: transparent;
}

.nav-link:focus, .nav-link:hover{
   color: var(--accent-color);
}

.tab-content{
  margin-left: 40px;
  padding: 26px 30px;
  background-color: rgba(255, 255, 255, 0.1);
}

.tab-content p {
  line-height: 1.8333;
  font-size: var(--fs-16-12);
}
.q-a-section h2{
  color: var(--contrast-color)
}
.q-a-section .accordion{
   background: transparent;
}
.q-a-section .accordion-item{
  background-color: transparent;
  border: 0px;
  border-bottom: 1px solid var(--contrast-color);
  
}

.q-a-section .accordion-body{
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--contrast-color)
}
.q-a-section .accordion-button:not(.collapsed){
  background-color: transparent;
  color:var(--accent-color)
}
.q-a-section .accordion-button{
  background-color: transparent;
  color: var(--contrast-color);
  padding: 1rem 1.25rem 1rem 0px
}
.q-a-section .accordion-button:focus{
  box-shadow: none;
}
.accordion-item:first-of-type>.accordion-header .accordion-button,.accordion-item:last-of-type>.accordion-header .accordion-button.collapsed{
  border-radius: 0px;
}
.accordion-button:not(.collapsed){
  background-color: transparent;
  box-shadow: none
}

.accordion-button::after{
  background-image: url(../img/up.svg);
}
.accordion-button:not(.collapsed)::after{
   background-image: url(../img/up.svg);
}